<!doctype html>
<head>
	<title><%= @name %> | <%= options.sitename %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/text.css">
	<link rel="stylesheet" href="/css/960.css">
	<link rel="stylesheet" href="/css/screen.css">	
</head>
<body>
	<div class="black clearfix">
		<div class="container_12">
			<div id="logo" class="grid_8 prefix_2">
				<strong><%= options.sitename %></strong> 
				<em><%= "- " + options.description if options.description %></em>
			</div>
		</div>
	</div>

	<div class="container_12">
		<div id="content" class="grid_8 prefix_2">
			<div class="note">
				<%= yield %>
			</div>
		</div>		
	</div>
</body>
</html>
