<!doctype html>
<head>
	<title><%= @name %> | <%= options.sitename %></title>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/screen.css">	
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span10 offset3 columns">
				<div id="page">
					<h1 class="title"><%= '<a href="/">Home</a> &gt; ' if @name != "Home" %><%= @name %></h1>
					
					<% if @alert %>
						<div class="alert-message error"><%= @alert %></div>
					<% end %>
					
					<%= yield %>
				</div>
				
				<% if !@error %>
					<div class="tools">
						<a href="/" class="btn small <%= "disabled" if @name == "Home" %>">&lt; Home</a>
						<a href="/p/list" class="btn small <%= "disabled" if @name == "Known pages" %>">Page list</a>
						<% if @page && !@editing %>
							<a href="/p/new" class="btn small">New page</a>
							<a href="/<%= @page.permalink %>/edit" class="btn small primary">Edit this</a>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div id="footer" class="span10 offset3 columns">
				Powered by <a href="https://github.com/fredoliveira/commonplace">Commonplace</a>, designed and developed by <a href="http://helloform.com">Fred Oliveira</a>. Source code and updates are <a href="https://github.com/fredoliveira/commonplace">on Github</a>.
			</div>
		</div>
	</div>	
</body>
</html>